/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 5, 2015, 11:24:34 AM
    Author     : WaleO
*/

header {
    background-color:#FFE800;
    color:white;
    text-align:center;
    font-size:50px;
    padding:5px;
 
}
p{
    color:blue;
    text-align: center;
    
}

section{
    padding-bottom: 5px;
    padding-top: 5px;
    height: 320px;
}
body{
    background-size:300px;
    background:url(yellowBackground.jpg);
}

footer{
    background-color:yellow;
    padding-top: 5px;
    padding: 23px;
    text-align:center;
}

#firstImage{
    //style="width:300px;height:300px;
  width: 300px; 
  height: 300px;
}

#playOrpauseButton{
    width: 22px;
    height:22px; 
}
