/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla & _____________
 */

//Changes the color of the vertical toolbar that holds the add, remove, next and previous slides 
.slide_show_edit_vbox {
    -fx-background-radius: 5.0;
    -fx-background-color: rgb(196, 255, 106);
    -fx-border-color: rgb(255, 255, 0);
    -fx-alignment:center;
    -fx-spacing: 80px;
   
}


.slide_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(90, 240, 90);
    -fx-border-color: rgb(70, 5, 5);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
    
}


.vertical_toolbar_button {
    -fx-backgroundA-color: rgb(250, 130, 130);
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 50px;  
}

//Changes the toolbar where the new slide show, load, save, exit and change text buttons are.
.file_toolbar_pane {
    -fx-alignment:TOP_LEFT;
    -fx-background-color: rgb(255, 255, 0);
    -fx-hgap: 25px;
}
.horizontal_toolbar_button {
    -fx-padding-left: 10px;
    -fx-padding-right: 20px;
    -fx-spacing: 50px;
}

//Style for the alert box 

//For the "Language Options" region.
.dialog-pane:header *.header-panel{
    -fx-background-color:yellow;
}

.dialog-pane:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: #292929;
    -fx-font-weight: bold;
}

//This is for the "Choose your language below"
.dialog-pane {
    -fx-background-color:EFFF5E;
}

.dialog-pane > *.label.content{
    -fx-font-size: 18px;
    -fx-font-style: italic; 
    -fx-font-weight: bold;
}

//Changes the font and style of the captions as well as the title. 
.caption_text{
    -fx-font-size: 16px;
    -fx-font-style: italic;
}